body {
background-color: olivedrab;

}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-self:center;
    text-align: center;
}

h1{
font-size: 2.5rem;
position: relative;
display: flex;
justify-content: center;
align-self:center;
}