*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.content {
  width: 1000px;
  margin: 82px auto;
}

.footer {
  width: 100%;
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#copyright {
  font-size: 1.2rem;
  color: #333;
}
