*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
.content {
  width: 1000px;
  margin: 82px auto;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: purple;
  color: white;
  font-size: 24px;
}
.header > img {
  height: 24px;
  margin: 5px;
}

/* product display */
#total-products {
  font-size: 18px;
  color: #333333;
  border-bottom: 2px solid #4c1582;
}

.item-img {
  width: 415px;
  height: 115px;
}

.item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.footer {
  width: 100%;
  height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#copyright {
  font-size: 1.2rem;
  color: #333;
}
